    *{ 
      box-sizing: border-box; 
      margin: 0;
      padding: 0; 
      color: black;
    }
    .container-hero{
      display: flex; 
   }
    body {
      line-height: 1.70;
      background-color: #e1e2e6;
    }

    header {
      background-color: #93c5fd;
      display: flex;
      color: #fff;
      padding: 80px;
      padding-left: 200px;
    }
    #achievements{
        border-radius: 20px;
    }
    .container h2{
        font-size: 40px;
    }
    .container h3{
        font-size: 20px;
    }
    .container {
      max-width: 1200px;
      margin: auto;
      padding: 0 20px;
    }

    .subtitle{
      font-size: 18px;
    }
    .hero {
      display: grid;
      grid-template-columns: 1fr;
      gap: 40px;
      align-items: center;
    }

    .hero h1 {
      font-size: 3rem;
      line-height: 1.2;
      margin-bottom: 20px;
    }

    .hero p {
      font-size: 1.1rem;
      opacity: 0.95;
      margin-bottom: 30px;
    }

    .btn {
      padding: 8px;
      border-radius: 999px;
      text-decoration: none;
      font-weight: 500;
      margin-right: 12px;
    }
    .maincontent a{
      font-size: 20px;
      border:solid black;
      background-color: #e9e0e0;
    }
    .maincontent p{
    font-size: 20px;
   
    }

    .profile-card {
      text-align: center;
      width: 400px;
      height: 300px;
    }
    
    .avatar img{
        border-radius: 500px;
        border:2px solid #e5e7eb;
        
    }

    section {
      padding: 80px 0;
    }

    section h2 {
      font-size: 20px;
      margin-bottom: 15px;
      text-align: center;
    }

    section .subtitle {
      text-align: center;
      max-width: 700px;
      margin: 0 auto 50px;
    }

    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 25px;
    }

    .card {
      background-color: #93c5fd;
      padding: 30px;
      border-radius: 20px;
      font-size: 19px;
    }
    .card:hover { 
        transform: translateY(-6px); 
    }

    .card h3 { 
        margin-bottom: 20px; 
    }
    .grids{
        display: flex;
        gap: 50px;
        border-radius: 30px;
        padding-left: 250px;

    }
    .cardes{
        background-color: #93c5fd;
        border-radius: 30px;
        padding: 30px;
        text-align: center;
        width: 300px;
        height: 200px;
    }

    .skills-list span {
      display: inline-block;
      background: #fff;
      color: #1e3a8a;
      padding: 8px 14px;
      border-radius: 999px;
      font-size: 15px;
      margin: 6px 6px 0 0;
    }
    .timeline{
        margin: 40px 0;
        border-left: 8px solid #010b0f;
    }

    .timeline {
      padding-left: 100px;
    }

    .timeline-item {
      margin-bottom: 40px;
      position: relative;

    }

    .timeline-item h4 { 
        margin-bottom: 6px; 
        font-size: 25px;
    }
    .timeline-item p {
        font-size: 19px;
    }
    .timeline-item span {
        font-size: 19px;
    }

    .project-card img {
      width: 100%;
      border-radius: 14px;
      margin-bottom: 15px;
      background: #e5e7eb;
      height: 180px;
    }

    .stats {
      display: grid;
      grid-template-columns:1fr 1fr 1fr;
      gap: 25px;
      text-align: center;
    }

    .stat {
      background: linear-gradient( #e0e7ff, #f0f9ff);
      padding: 40px 20px;
    }

    footer {
      background-color: #93c5fd;
      color: #fff;
      padding: 60px 20px 30px;
    }

    footer a { 
        color: black; 
        text-decoration: none; 
    }

    .footer-grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 30px;
      margin-bottom: 30px;
    }

    .copyright {
      text-align: center;
      font-size: 0.9rem;
    }

